h1,.btn-div{
    text-align: center;
    

}
.counter{
    max-width: 280;
    margin: 0 auto;
    background-color:whitesmoke;
    padding: 40px;
    border-radius: 10px;
    color:black;
    box-shadow: 1px 1px 5px rgb(0,0,0,0.1);
}
.counter .btn-primary{
    background: rgb(25, 129, 98);
    border: none;
    padding: 8px;
    margin-right: 8px;
    margin-top: 8px;

}

.counter .btn-primary:hover{
    background-color: rgb(35, 87, 142);
    
}